*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
   
    
}

header{
    height: 100px;
    color: black;
    background-color: rgb(151, 147, 147);
    
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    background-color: rgb(66, 32, 135);
    align-items: center;
}

.logo{
    width: 200px;

    
    background-color: brown;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(172, 58, 58);
}

.img-logo{
    width: 220px;
    height: 220px;
}

.menu ul, 
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid rgb(243, 243, 243);
    background-color: rgb(2, 162, 171);
    color: #000;
}

.menu li a:hover{
    border-bottom: 5px solid #FF1244 ;
}

.menu .active a {
    border-bottom: 5px solid #FF1244 ;

}